
meta(name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')


.container-fluid
  .row
    header#fexidHeader.HeaderContent
      //- .HomeLogo
      nav.navContainer
          ul
            li#graphic 
              a(href="#") Animate
            li#web 
              a(href="#") Web
            li#ui 
              a(href="#") UI
            li#about 
              a(href="#") About
    .banner
  .row.AboutContentContainer
    .workBox
        h1.animatable.fadeInUp Work Experience
        nav
            ui
              li.animatable.fadeInUp
                p 明靚生技
                span.workspan 平面設計
                sapn.workspan 擔任平面設計，負責社群相關設計，社群Banner，廣告文宣，產品LOGO。
              li.animatable.fadeInUp
                p 赫彩設計
                span.workspan 平面設計
                sapn.workspan 擔任平面設計，CIS設計 (平面LOGO，名片，整體CI設計) ， 周邊文宣  (DM設計)。
              li.animatable.fadeInUp
                p 華美航運
                span.workspan 網頁視覺設計 UI/UX
                sapn.workspan 負責公司每月行銷主要視覺圖欓設計，主要活動視覺網站設計，官網購物流程規劃、UI 規劃，活動E-DM製作，每月活動網站製作。
              li.animatable.fadeInUp
                p 達愉軟件
                span.workspan UI設計/動畫製作
                sapn.workspan 主要負責公司遊戲整體UI規劃，遊戲UI製作，公司網站製作，遊戲大廳設計規劃及製作，2D美術提供原畫圖檔，拆解製作2D動畫。
              li.animatable.fadeInUp
                p 星辰軟件
                span.workspan UI/UX設計
                sapn.workspan 整體app ui規劃從產品最跟根本出發，了解產品定位，與PM溝通了解公司產品需求，研究目標使用者需求規劃產品整體流程，介面設計，使用者體驗設計。
    .workContainerContent
    
  .UiBoxContainer#scetion1
    .UiContainer.animatable.fadeInUp
      .UiText
          h2 Grapcih
          span Photoshop
          span Illustrator
          h2 UI
          span Sketch
          span Figma
          span Zepile
      .UiImg
  .WebBoxContainer
    .Webcontainer.animatable.fadeInUp
      .WebText
          h2 Web
          span Html
          span CSS
          span Sass
          span Javascript
          span Jquery
          span Bootstrap
          span RWD
      .WebImg
  .UiBoxContainer
    .UiContainer.animatable.fadeInUp
      .UiText.AinmateText
          h2 Animate
          span After Effects
          span Premiere Pro
      .UiImg.AnimateImg
  
.footerCenter
  .footerBox
    .footerLogo
      img(src="https://i.imgur.com/2OC1x5z.png", alt="")
    .footerIcon
      .footerIconImg
        img(src="https://i.imgur.com/B49Rtfd.png", alt="")
      .footerIconImg
        img(src="https://i.imgur.com/01VQ0ah.png", alt="")
  .footerText 
      span ©2020 Roy-Xiong WebDesign

